/* reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* styles */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.inner-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.site-head,
.intro,
footer {
    background-color: #1F2937;
}

.offerings,
.cta {
  background-color: #FFFFFF
}

.testimonial {
  background-color: #e5e7eb;
}

.cta-card,
 button {
  background-color: #3882f6;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

a {
  text-decoration: none;
}

.hero-title {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}

.hero-secondary,
.nav-link {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-secondary, 
.intro button {
  margin-bottom: 1rem;
}

.offerings,
.testimonial,
.cta {
  margin: 2rem 0;
}

.offering-header {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  text-align: center;
  margin: 2rem;
}

blockquote p {
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
  font-size: 36px;
}

button {
  border: none;
  padding: .3rem 2.5rem;
  border-radius: .3rem;
  color: #e5e7eb;
}

/* layout */

/* header */
.site-head .inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-transform: uppercase;
}

.site-nav ul {
  display: flex;
  list-style-type: none;
}

.site-nav li {
  padding: 10px;
}

/* hero */

.intro .inner-wrapper {
  display: flex;
}

.inner-inner-wrapper {
  max-width: 600px;
}


.intro-right {
  display: flex;
  justify-content: end;
}

.intro img {
  max-width: 70%;
  max-height: auto;
  margin-bottom: 2rem;
}

/* content */

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

figcaption p {
  text-align: center;
  margin: 1rem;
}

.box {
  background-color: green;
  height: 10rem;
  width: 10rem;
  border-radius: 10%;
  border: 5px black solid;
  flex: auto;
}

/* cta */

.cta-card {
  width: 960px;
  margin: 4rem auto;
  padding: 2rem;
  color: #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: .5rem;
  padding: 2rem 7rem;
}

.cta-card button {
  border: 2px solid #e5e7eb;
}

/* testimonial */

.testimonial {
  margin: 6rem auto;
  text-align: left;
}
blockquote {
  padding: 5rem 6rem;
  text-align: left;
}

blockquote .cite {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}


.testimonial .inner-wrapper {
  display: flex;
  justify-content: flex-end;
}

/* footer */

footer {
  margin-top: 6rem;
  padding: 2rem;
  text-align: center;
  color: #f9faf8;
  font-size: 1.2rem;
}

footer a {
  color: #f9faf8;
}